/* Hide scrollbar but keep scrolling */
html,
body {
    scrollbar-width: none;        /* Firefox */
    -ms-overflow-style: none;     /* IE/Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;                /* Chrome, Edge, Safari */
}

